body {
    background: #F7F7FB;
}

.card {
    border-radius: 12px !important;
}

.card img {
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
}

.navbar {
    margin-bottom: 10px;
}
